.aspectData {
  flex-grow: 1;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.incorrect {
  flex-grow: 1;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--correction);
}

/* Use the normal font and minimal decoration*/
.input,
.input:hover,
.input:focus {
  background: none;
  border-style: none;
  border-bottom: 4px solid var(--interaction);
  color: var(--interaction);
  font-family: var(--font);
  font-size: 3rem;
  padding: 0;
  width: 100%;
  -webkit-text-fill-color: var(--interaction);
  -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset;
  box-shadow: 0 0 0px 1000px var(--bg) inset;
  text-align: center;
}

.button {
  color: var(--bg);
  font-size: 2rem;
  margin-top: 2rem;
  background-color: var(--interaction);
  display: inline-block;
  padding: 0.5rem;
}

.keyword {
  color: var(--interaction);
}
