.header {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
}

.header div:only-child {
  margin-left: auto;
}

.logOut {
  font-size: 2rem;
  color: var(--interaction);
}
