@import "theme.css";

.prompt {
  display: block;
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.label {
  display: block;
  width: 100%;
  font-size: 3rem;
  margin-top: 2rem;
}

.input,
.input:hover,
.input:focus {
  background: none;
  border-style: none;
  border-bottom: 4px solid var(--interaction);
  color: var(--interaction);
  font-family: var(--font);
  font-size: 3rem;
  padding: 0;
  width: 100%;
  -webkit-text-fill-color: var(--interaction);
  -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset;
  box-shadow: 0 0 0px 1000px var(--bg) inset;
}

.button {
  color: var(--bg);
  font-size: 2rem;
  margin-top: 2rem;
  background-color: var(--interaction);
  display: inline-block;
  padding: 0.5rem;
}
