.aspectData {
  flex-grow: 1;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.buttonZone {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 2rem 0;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.pictionaryCanvas {
  flex-grow: 1;
  flex-shrink: 1;
  height: 300px;
}
