.headerBack {
  font-size: 2rem;
}

.aspectsRemainingLabel {
  font-size: 1rem;
  max-width: 5rem;
}

.aspectsRemaining {
  font-size: 2rem;
}

.aspectsRemainingContainer {
  display: flex;
  flex-direction: row;
}

.aspectData {
  flex-grow: 1;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
